$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';
$unit: 9vh;
$height: ($unit * 3);
$width: ($unit * 4);

body {
  background-color: $dark-purple;
  color: $crazy-yellow;
}

.modal-body {
  color: $blue;
}

h1 {
  font-size: 38px;
  line-height: 1;
  text-align: center;
}

p {
  text-align: center;
}

.game-cell {
  height: $height;
  width: $width;
}

.top-row {
  border-bottom: 5px $crazy-yellow solid;
}

.mid-row {
  border-bottom: 5px $crazy-yellow solid;
}

.left-column {
  border-right: 5px $crazy-yellow solid;
}

.mid-column {
  border-right: 5px $crazy-yellow solid;
}

.user-info {
  display: block;
  float: right;
  margin: 0 10px;
  padding: 5px;
}

aside {
  float: right;
}
